<div class="mt-5 flex justify-center gap-4">
    <button mat-stroked-button (click)="get400Error()">Test BadRequest(400) error</button>
    <button mat-stroked-button (click)="get400ValidationError()">Test Validation(400) error</button>
    <button mat-stroked-button (click)="get401Error()">Test Auth(401) error </button>
    <button mat-stroked-button (click)="get404Error()">Test NotFound(404) error</button>
    <button mat-stroked-button (click)="get500Error()">Test Internal(500) error</button>
</div>
