<div class="max-w-screen-2xl mx-auto px-4">
    <div class="relative h-[70vh] flex flex-col items-center justify-between py-8 mt-6
                rounded-2xl shadow-xl overflow-hidden">
        <img src="../images/purple.jpg" alt="ski resort image"
            class="absolute inset-0 w-full h-full object-cover rounded-2xl" />
        <h1 class="relative z-10 font-extrabold text-white text-6xl mt-8">
            Welcome to Skizz!
        </h1>
        <button class="relative z-10 bg-purple-900 hover:bg-purple-700 font-semibold text-2xl text-white
                       rounded-xl px-8 py-3 mb-12 transform transition duration-150 ease-in-out hover:scale-95 
                       active:scale-90 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50"
                routerLink="/shop">
            Go to shop
        </button>
    </div>
</div>
